@model Microsoft.AspNetCore.Identity.IdentityRole




<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="p-b-10">
		<div class="row m-b-15">
			<div class="col-10">
				<h4 class="ltext-103 cl5 text-dark ">
					Edit Roles
				</h4>
			</div>
		
		</div>
	<div class="container">

		<div class="p-b-10">

			<hr class=" text-dark " style="height:3px; width:100%; border-width:0;" />
			<div class="row">
				<div class="col-md-4">
					<form asp-action="Edit">
						
						<div class="form-group">
							<label asp-for="Name" class="control-label text-dark"></label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						

						<div class="row">
							<div class="form-group col-3">
								<input type="submit" value="Save" class="btn btn-dark" />
							</div>
							<div class="col-9">
								<a class="btn btn-dark" role="button" asp-action="Index">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>


		</div>
	</div>
</section>
