@model RegisterViewModel




<section class="bg0 p-t-23 p-b-70 mt-5">
	<h1 class="ltext-103 cl5 text-dark ">Delete Staff Member</h1>
	<hr class=" text-dark " style="height:3px; width:100%; border-width:0;" />
	<form asp-action="DeleteConfirmed" method="post">
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="FullName" class="text-dark">First Name</label>
			<input asp-for="FullName" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label asp-for="Email" class="text-dark">Email</label>
			<input asp-for="Email" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label asp-for="Address" class="text-dark">Address</label>
			<input asp-for="Address" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label asp-for="PhoneNumber" class="text-dark">Phone Number</label>
			<input asp-for="PhoneNumber" class="form-control" disabled />
		</div>
		<p class="p-t-10 p-b-3 text-dark">Are you sure you want to delete this staff member?</p>
		<div class="form-group">
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-dark">Cancel</a>
		</div>
	</form>
</section>